@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.App {
  display: flex;
  flex-direction: column;   
  font-family: 'Oxygen', sans-serif;
}
.App h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.4rem;
}
.App p {
  text-align: center;
}
.Cards {
  display: flex;
  flex-wrap: wrap; 
}
input {
  border-radius: 5px;
  outline: 0;
}
button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px;
    border-radius: 10px; 
    cursor: pointer;
}